<nav>
    {{#if category.subcategories}}
        <div class="filters__item">
            <details class="filters__disclosure">
                <summary class="filters__summary">
                    Shop by Category
                    <span class="filters__caret filters__caret--closed">▼</span>
                    <span class="filters__caret filters__caret--open">▲</span>
                </summary>
                <ul class="filters__list navList">
                    {{#each category.subcategories}}
                    <li class="navList-item">
                        <a class="navList-action" href="{{url}}" title="{{name}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </details>
        </div>
    {{/if}}

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav>
