{{#each product.options}}
  {{#if type '===' 'Configurable_PickList_Swatch'}}
    {{#each values}}
      {{#if image}}
        <span class="category-swatches-swatch-img" title="{{this.label}}"
          style="background-image: url('{{getImage image "swatch_option_size"}}');"></span>
      {{/if}}
      {{#if data.[2]}}
        <span title="{{this.label}}"
          style="background-color: #{{data.[0]}}"></span>
        <span title="{{this.label}}"
          style="background-color: #{{data.[1]}}"></span>
        <span title="{{this.label}}"
          style="background-color: #{{data.[2]}}"></span>
      {{else}}
        {{#if data.[1]}}
          <span title="{{this.label}}"
            style="background-color: #{{data.[0]}}"></span>
          <span title="{{this.label}}"
            style="background-color: #{{data.[1]}}"></span>
        {{else}}
          {{#if data.[0]}}
          <span title="{{this.label}}"
            style="background-color: #{{data.[0]}}"></span>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/each}}
  {{/if}}
{{/each}}
